<nav class="navbar navbar-expand-md navbar-dark blue">
    <div class="navbar-menu-button">
        <i class="fas fa-folder-open fa-2x"></i>
    </div>

    <a class="navbar-brand" href="#">DMSArchiv</a>
    <div class="navbar-right">
        <table class="navbar-buttons navbar-links">
            <tbody>
                <tr>
                    <td class="tab"><a href="../Archive" data-name="Archive">Archiv</a></td>
                    <td class="tab"><a href="../Search" data-name="Search">Suche</a></tdclass="tab">
                    <td class="tab"><a href="../Clipboard" data-name="Intray">Klemmbrett</a></td>
                    <td class="tab"><a href="../Intray" data-name="Intray">Postbox</a></td>
                    <!--<td><i class="fas fa-ellipsis-v fa-1x"></i></td>-->
                    <td><img class="user-picture" src="../../Content/images/profile-picture.png" /></td>
                    <td class="user-dropdown">Thomas <i class="fas fa-caret-down fa-xs"></i></td>
                </tr>
            </tbody>
        </table>
        @*<table class="navbar-user">
            <tbody>
                <tr>
                    <td><img src="../../Content/images/user-placeholder.png"/></td>
                    <td class="user-dropdown">Thomas <i class="fas fa-caret-down fa-xs"></i></td>
                </tr>
            </tbody>
        </table>*@
    </div>  
</nav>